<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title>
    <% if (title){ %><%= title %> | <% } %><%= config.titlesecondary %>
  </title>
  
  <meta name="viewport"     content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author"       content="Felipe Sousa">
  <meta name="description"  content="Front end Developer">
  <meta name="keywords"     content="frontend, javascript, mobile, web, developer">
  

  <script src="/js/jquery.min.js"     type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery-github.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/elevator.min.js" type="text/javascript" charset="utf-8"></script>

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins}) %>
  
  <link rel="author" type="text/css" href="https://plus.google.com/u/0/+FelipeSousaDev">
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml" />
  <% } %>

  <link rel="icon" href="/images/header/fa-favicon.png" />
  
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />
  
  <%- css('css/style') %>
  <%- partial('google-analytics') %>

</head>